.navbar {
    width: 100%;
    height: 105px;
    background-color:white;
    display: flex;
    flex-direction: row;
    border-bottom: 5px solid #3D9BE9;
  }
  
  .navbar .leftSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 40px;
    
  }
  
  .navbar .leftSide img {
    width: 80px;
    margin-bottom: 10px;
  }
  .navbar .leftSide .vl {
    border-left: 5px solid #3D9BE9;
    height: 55px;
    margin-bottom: 10px;
  }
  .navbar .leftSide .leftContent{
    padding-left: 10px;
    color:#3D9BE9;
    font-size: 25px;
    font-family: helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;
    letter-spacing:1px;
    margin-bottom: 35px;
    line-height:0px;
  }
  .navbar .leftSide .leftContent2{
    color:#3D9BE9;
    font-size: 7px;
    font-family: helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;
    font-weight: bold;
    letter-spacing:0px;
  }
  .navbar .rightSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .navbar a {
    color:#1e2fa7bf;
    text-decoration: none;
    margin: 20px;
    font-weight: bold;
    font-size: 15px;
    padding-right: 22px;
  }
  .navbar a:hover{
    color:#a71e3cbf;
  }
  .navbar .rightSide button {
    
    background-color: transparent;
    border: none;
    color:#3D9BE9;
    cursor: pointer;
  }
  
  .navbar .rightSide svg {
    font-size: 35px;
  
  }
  
  .navbar #open {
    padding-left: 0px;
  }
  .navbar #open img {
    display: none;
  }
  .navbar #open .leftContent {
    display: none;
  }
  .navbar #open .vl {
    display: none;
  }
  
  
  
  .navbar #open .hiddenLinks {
    display: inherit;
  
  }
  
  .navbar #close .hiddenLinks {
    display: none;
  }
  


  
  .navbar #open a {
    width: 12px;
    margin: 14px;
    font-weight: bold;
    font-size: 11px;
    padding-right:27px;
  }
  
  @media only screen and (max-width: 600px) {
    .navbar .rightSide a {
      display: none;

     
      }
      .navbar .rightSide {
        flex: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0px;
      }
      .navbar{
        height:70px;
        border-bottom: 5px solid #3D9BE9;
      }
      .navbar .leftSide{
        flex: 100%;
        height: 100%;
        padding-left: 20px;
      }
      .navbar .leftSide img{
        width:67px;
        margin: 6px -3px;
    }
    .navbar .leftSide .vl{
      
      border-left: 5px solid #3D9BE9;
    height: 40px;
    margin:3px;
  }
  .navbar .leftSide .leftContent{
    padding-left: 8px;
    color:#3D9BE9;
    font-size: 26;
    font-family: helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;
    letter-spacing:0.5px;
    margin-bottom:30px;
    line-height:0px;
  }
  .navbar .leftSide .leftContent2{
    color:#3D9BE9;
    font-size:6.8px;
    font-family: helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;
    font-weight: bold;
    letter-spacing:0px;
    margin-top:-12px;
  }
    .navbar .rightSide {
      justify-content: flex-end;
      padding-right: 25px;
    }
  
    .navbar .rightSide button {
      display: inherit;
    }
  }
  
  @media only screen and (min-width: 500px) {
    .navbar .rightSide button {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  }